#header {
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    padding-top: 40px;
    font-family: Verdana, sans-serif;
}

body {
    background: #111;
    color: #ddd;
    font-family: Arial, sans-serif;
}

table {
    font-size: 16px;
    background: #1a1a1a;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
}

tr {
    border-top: 1px solid #D1D1D123;
}

th, td {
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #333;
}

tr:last-child td {
    border-bottom: none;
}

th[colspan="2"] {
    text-align: left;
    background-color: #D1D1D113;
}

.numResult {
    text-align: center;
}

.indentTitle {
    padding-left: 40px;
}

/* For tablets, make wider */
@media (max-width: 1024px) {
    table {
        width: 80%;
        font-size: 14px;
    }
}

/* For phones, make larger */
@media (max-width: 768px) {
    table {
        width: 100%;
        font-size: 12px;
    }
}