#header {
    text-align: center;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: normal;
    padding: 40px;
    background-color: #f5f5f5;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-family: Arial, sans-serif;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    font-weight: normal;
}

th[colspan="2"] {
    text-align: left;
    font-size: 18px;
    padding: 10px;
}

.numResult {
    text-align: center;
    font-weight: normal;
}
