body {
    background: #111;
    color: #ddd;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    font-size: 45px;
    font-weight: normal;
    padding-top: 40px;
    font-family: Verdana, sans-serif;
}

table {
    font-size: 16px;
    background: #1a1a1a;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
    padding: 15px;
    border-radius: 15px;
    overflow: hidden;
}

tr {
    border-top: 1px solid #D1D1D123;
}

th, td {
    padding: 15px;
    font-weight: normal;
    border-bottom: 1px solid #333;
}

tr:last-child td {
    border-bottom: none;
}

th[colspan="2"] {
    text-align: left;
    background-color: #D1D1D113;
}

.numResult {
    text-align: center;
}

.indentTitle {
    padding-left: 40px;
}

/* For tablets, make relative */
@media (max-width: 1024px) {
    #header {
        font-size: 6vw;
    }
    table {
        width: 50%;
        font-size: 3vw;
        padding: 1.5vw;
        border-radius: 1vw;
    }
    th, td {
        padding: 1vw;
    }
    .indentTitle {
        padding-left: 4vw;
    }
}

/* For phones, make relative */
@media (max-width: 768px) {
    #header {
        font-size: 8vw;
        padding-top: 3vh;
    }
    table {
        width: 98%;
        font-size: 4vw;
        padding: 2vw;
        border-radius: 1vw;
    }
    th, td {
        padding: 1.5vw;
    }
    .indentTitle {
        padding-left: 5vw;
    }
}