<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>System Stats</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<h1 id="header">System Stats Dashboard</h1>
<table>
    <tr>
        <th colspan="2">Memory</th>
    </tr>
    <tr>
        <td>Used Memory</td>
        <td class="numResult"><span id="usedMem"></span></td>
    </tr>
    <tr>
        <td>Free Memory</td>
        <td class="numResult"><span id="freeMem"></span></td>
    </tr>
    <tr>
        <td>Total Memory</td>
        <td class="numResult"><span id="totalMem"></span></td>
    </tr>
    <tr>
        <th colspan="2">CPU</th>
    </tr>
    <tr>
        <td>System CPU</td>
        <td class="numResult"><span id="systemCpu"></span></td>
    </tr>
    <tr>
        <td>Process CPU</td>
        <td class="numResult"><span id="processCpu"></span></td>
    </tr>
    <tr>
        <td>Total CPU</td>
        <td class="numResult"><span id="totalCpu"></span></td>
    </tr>
    <tr>
        <th colspan="2">Disk</th>
    </tr>
    <tr>
        <td>Total Disk</td>
        <td class="numResult"><span id="totalDisk"></span></td>
    </tr>
    <tr>
        <td>Free Disk</td>
        <td class="numResult"><span id="freeDisk"></span></td>
    </tr>
    <tr>
        <th colspan="2">System Uptime</th>
    </tr>
    <tr>
        <td>Uptime</td>
        <td class="numResult"><span id="uptime"></span></td>
    </tr>
</table>
<script src="/js/stats.js"></script>
</body>

</html>
