<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>System Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1 id="header">SYSTEM STATS</h1>
    <table>
        <tr>
            <th colspan="2">Memory</th>
        </tr>
        <tr>
            <td class="indentTitle">Used Memory</td>
            <td class="numResult"><span id="usedMem"></span></td>
        </tr>
        <tr>
            <td class="indentTitle">Free Memory</td>
            <td class="numResult"><span id="freeMem"></span></td>
        </tr>
        <tr>
            <td class="indentTitle">Total Memory</td>
            <td class="numResult"><span id="totalMem"></span></td>
        </tr>
        <tr>
            <th colspan="2">CPU</th>
        </tr>
        <tr>
            <td class="indentTitle">System CPU</td>
            <td class="numResult"><span id="systemCpu"></span></td>
        </tr>
        <tr>
            <td class="indentTitle">Process CPU</td>
            <td class="numResult"><span id="processCpu"></span></td>
        </tr>
        <tr>
            <td class="indentTitle">Total CPU</td>
            <td class="numResult"><span id="totalCpu"></span></td>
        </tr>
        <tr>
            <th colspan="2">Disk</th>
        </tr>
        <tr>
            <td class="indentTitle">Total Disk</td>
            <td class="numResult"><span id="totalDisk"></span></td>
        </tr>
        <tr>
            <td class="indentTitle">Free Disk</td>
            <td class="numResult"><span id="freeDisk"></span></td>
        </tr>
        <tr>
            <th colspan="2">System Uptime</th>
        </tr>
        <tr>
            <td class="indentTitle">Uptime</td>
            <td class="numResult"><span id="uptime"></span></td>
        </tr>
    </table>
    <script src="/js/stats.js"></script>
</body>

</html>
